body {
	margin-top: 80px;
	background-color: rgb(232,206,179);
}


.left-side{
	font-size: 15px;
	animation: blurOut 3s;
	text-align: center;
	margin-left: 280px;
	margin-top: 200px;
}

.left-side:hover {
	animation: blurIn 2s forwards;
}

@keyframes fadein {
	from {background-color: #8E44AD}
	to {background-color: #fff}
}

@keyframes size {
	0%,100% {font-size: 0px;}
	100% {font-size: 35px;}
}

@keyframes blurOut {
	0%,100% { filter: blur(5px); }
		100% { filter: blur(0px); }
}

@keyframes blurIn {
	0%,100% { filter: blur(0px); }
	100% { filter: blur(5px); }
}

@keyframes motion {
	0%,100% { margin-left: 0; }
  100% { margin-left: 100px; }
}

.period {
	animation: size 3s forwards;
	margin-left: 5px;
	color: teal;
}

.hello, .world {
	color: #8E44AD;
	font-family: 'Baloo', cursive;
}

.right-side {
}


.menu-container {
	border: 2px white;
	text-align: center;
	background-color: #000;
}

li {
	text-align: center;
	width: 100px;
	margin-top: 22px;
	margin-bottom: 50px; 
	margin-bottom: 25px;
	border: 1px solid black;
	padding: 2px;
	border-radius: 5px;
	background-color: #8E44AD;
	font-size: 20px;
	margin-left: 20px;
	color: #fff;
	text-shadow: 1px 1px 2px black;
	display: inline-block;
}

li:hover {
	animation: fadein .25s;
	background-color: #fff;
	color: #000;
	text-shadow: 0px 0px 0px;
}

.bio {
	font-size: 18px;
	font-family: 'Quattrocento', serif;
}

img {
	animation: motion 2s forwards;
	box-shadow: 1px 1px 1px 1px black;
	border-radius: 10px;
	width: 250px;
}

.body-container {
	margin-top: 50px;
	display: inline-flex;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
}
/*@media (min-width: 600px) {
  body {
    background: green;
  }
}*/






